@import "../Sass/variables.scss";
.section-content {
  @include flex-row;

  .about-info {
    .content-image {
      img {
        width: 170px;
      }
    }
    div {
      img {
        width: 300px;
        max-height: 200px;
      }
    }
    p {
      max-width: 700px;
      font-size: 1.5rem;
      margin: 1rem 0;
    }
  }

  .strong {
    font-weight: 600;
  }
  .about-image {
    border-radius: 10px;
    overflow: hidden;
  }
}
@media screen and (max-width: 425px) {
  .section-content {
    flex-direction: column-reverse;
    .about-info {
      p {
        font-size: 1.8rem;
      }
    }
  }
}
