@import "../Sass/variables.scss";
.faq-image {
  width: 400px;
  margin-right: 8rem;
}

.faq-section {
  @include flex-row;
  justify-content: space-evenly;
}

.faq-container {
  border: 1px solid #ddd;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}
.faq-question {
  @include flex-row;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.answer {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  max-width: 500px;
}

.answer.visible {
  height: 20px;
}

@media screen and (max-width: 425px) {
  .faq-image {
    width: 200px;
    margin: 0;
  }
  .faq-section {
    flex-direction: column-reverse;
  }
}
