@import "../Sass/variables.scss";
.faq-image {
  width: 400px;
  margin-right: 8rem;
}

.section-cont {
  @include flex-row;
  justify-content: space-evenly;
}

.faq-container {
  @include flex-column;
  gap: 2rem;
  align-items: flex-start;
  .cont-item {
    .question {
      font-size: 1.5rem;
    }

    .answer {
      font-size: 1.2rem;
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 425px) {
  .section-cont {
    flex-direction: column;
    .faq-image {
      width: 250px;
      margin: 0 auto;
    }
  }
}
