@import "../Sass/variables.scss";
.faq-image {
  width: 400px;
  margin-right: 8rem;
}

.faq-section {
  @include flex-row;
}

.faq-container > table {
  @include flex-column;
  align-items: flex-start;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

td {
  max-width: 600px;
}

table > tr {
  @include flex-row;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem 1rem;

  th {
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.answer.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  .faq-image {
    margin-right: 2rem;
    width: 300px;
  }
}

@media screen and (max-width: 425px) {
  .faq-image {
    width: 250px;
  }
  .faq-section {
    flex-direction: column-reverse;
  }
}
