@import "../Sass/variables.scss";

.footer {
  background-color: #000000;
  padding-top: 4rem;
  .form-title {
    text-align: center;
    color: #ddd;
    font-size: 3rem;
    margin: 2rem 0;
  }
}

.map_form {
  width: 70%;
  margin: 0 auto;
  padding: 3rem 1rem;
  border-radius: 3px;
  background-color: #680606;
  @include flex-row;

  .form {
    @include flex-column;
    gap: 2rem;
    align-items: flex-start;

    input,
    textarea {
      padding: 0.5rem 5rem 0.5rem 0.3rem;
      border: none;
      font-size: 1rem;
      border-radius: 3px;
      outline: none;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}

.tel {
  @include flex-column;
  align-items: flex-start;
  gap: 1rem;
}

.footer-info {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  h2 {
    color: $primary-color;
  }
  p {
    color: aliceblue;
    a {
      color: aliceblue;
    }
  }
  .info-item > h2,
  p {
    margin: 1rem;
  }
}
.developer {
  color: #ddd;
  text-align: center;
  margin: 1rem 0 0;
}

@media screen and (max-width: 768px) {
  .footer-info {
    @include flex-row;
    align-items: center;

    .info-item {
      width: calc(50% - 10px);
    }
  }
}
@media screen and (max-width: 425px) {
  .map_form {
    width: 95%;
    flex-direction: column;
    .form {
      input,
      textarea {
        font-size: 1.5rem;
        padding: 1rem;
        width: 70vw;
        margin: 0.5rem 0;
      }
    }
  }
  .footer-info {
    flex-wrap: wrap;

    .info-item {
      width: calc(50% - 10px);
    }
  }
}
