@import "../Sass/variables.scss";
.partners {
  padding: 1rem 0;
}

.partners-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  .partner {
    width: 200px;
    max-height: 100px;

    &.small {
      max-height: 40px;
      margin-top: 1rem;
    }
  }

  img {
    object-fit: contain;
  }
}

@media screen and (max-width: 425px) {
  .partners-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 3rem;

    .partner {
      width: 150px;
      max-height: 80px;
    }
  }
}
