@import "../Sass/variables.scss";

.qualities {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-bottom: 3rem;

  .quality {
    @include flex-column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    border: 1px solid $primary-color;
    border-radius: 3px;
    background-color: rgb(216, 216, 216);

    .quality-icon {
      font-size: 2rem;
      color: orangered;
    }

    h3,
    p {
      color: $text-color;
    }
  }

  .quality:not(:nth-child(2)) {
    transform: translateY(2rem);
  }
}
@media screen and (max-width: 425px) {
  .qualities {
    @include flex-column;
    gap: 2rem;
    .quality:not(:nth-child(2)) {
      transform: translateX(0);
    }

    .quality .quality-icon {
      font-size: 5rem;
    }

    .quality-title {
      font-size: 2rem;
    }

    .quality-text {
      font-size: 1.7rem;
    }
  }
}
