@import "../Sass/variables.scss";

.qualities {
  width: 90%;
  margin: 0 auto;
  @include flex-row;

  .quality {
    @include flex-column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 3px;
    text-align: center;
    .quality-icon {
      font-size: 3rem;
      padding: 0.8rem 1rem 0.3rem;
      background-color: #ddd;
      color: $primary-color;
      border-radius: 50%;
    }

    h3,
    p {
      color: $text-color;
      text-transform: capitalize;
    }
  }
}
@media screen and (max-width: 542px) {
  .quality {
    width: calc(23% - 10px);
  }
}

@media screen and (max-width: 425px) {
  .qualities {
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

    .quality {
      width: calc(50% - 10px);
    }
    .quality .quality-icon {
      font-size: 5rem;
      padding-bottom: 0;
    }

    .quality-title {
      font-size: 2rem;
    }

    .quality-text {
      font-size: 1.7rem;
    }
  }
}
