@import "../Sass/variables.scss";

.services-section {
  background-color: antiquewhite;
}

.service {
  @include flex-row;

  .service-text {
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 5px 0 0 5px;
    border-top: 2px solid $primary-color;
    border-left: 2px solid $primary-color;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .service {
    flex-direction: column;
  }
}
