@import "../Sass/variables.scss";

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
  justify-items: center;
  color: $text-color;
  .service {
    width: 300px;
    min-height: 300px;

    .service-title {
      min-height: 4.5rem;
    }
    .service-image {
      min-height: 300px;
      max-height: 300px;

      border-radius: 8px;
      overflow: hidden;

      img {
        vertical-align: top;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .services {
    grid-template-columns: none;
    .service-title {
      font-size: 2rem;
    }
    .service-desc p {
      font-size: 1.5rem;
    }
  }
}
