@import "../Sass//variables.scss";

.statistics-section {
  padding: 1rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.statistics {
  @include flex-row;
  justify-content: flex-start;

  h4 {
    font-size: 8rem;
    color: #ddd;
    -webkit-text-stroke: 1px #000;
    text-shadow: 1px #000;
  }

  p {
    font-size: 2rem;
    transform: translate(-2rem, -1rem);
    font-weight: 600;
    color: $primary-color;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 793px) {
  .statistics-section {
    width: 90%;
    margin: 0 auto;
    gap: 2rem;
    padding: 0;
    .statistics {
      flex-direction: column;

      p {
        transform: translate(0rem, -3rem);
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .statistics-section {
    grid-template-columns: none;
    @include flex-column;
  }

  .statistics {
    flex-direction: column;

    h4 {
      font-size: 10rem;
    }
    p {
      transform: translateY(-4rem);
      text-align: center;
      font-size: 3rem;
    }
  }
}
@media screen and (max-width: 320px) {
  .statistics {
    p {
      max-width: 80%;
    }
  }
}
