@mixin flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Colors
$primary-color: #d10000;
$text-color: #262626;

// Font-sizes
$extra-big-font-size: 2rem;
$big-font-size: 1.5rem;
$normal-font-size: 1rem;
$small-font-size: 0.5rem;
$extra-small-font-size: 0.25rem;
